{% extends 'base.html' %} {% block content %}

<div class="form-container">
  <h2>Create Account</h2>

  <p class="form-description">
    Join our Job Portal and explore thousands of job opportunities.
  </p>

  <form method="POST">
    {% csrf_token %}

    <input type="text" name="username" placeholder="Username" required />

    <input type="email" name="email" placeholder="Email Address" required />

    <input type="password" name="password" placeholder="Password" required />

    <small class="password-info">
      Password must be at least 8 characters long.
    </small>

    <div class="checkbox-area">
      <input type="checkbox" required />
      <label>I agree to the Terms & Conditions</label>
    </div>

    <button type="submit">Register</button>
  </form>

  <p class="switch-text">
    Already have an account?
    <a href="{% url 'login' %}" class="btn login-btn">Login</a>
  </p>
</div>

{% endblock %}
